
@font-face {
  font-family: 'skratch_punkregular';
  src: url('/fonts/skratch_punk-webfont.woff2') format('woff2'),
       url('/fonts/skratch_punk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  /* background: linear-gradient(45deg, #495057, #6c757d, #adb5bd);; */
  overflow-x: hidden;/* Prevents horizontal scrollbars due to large gradients */
  background:
    linear-gradient(rgba(61, 66, 66, 0.189), transparent),
    linear-gradient(to top left, rgb(39, 39, 39), transparent),
    linear-gradient(to top right, rgb(155, 155, 155), transparent);
  background-blend-mode: screen;
  background-size: 100%;  
} 


h1 {
  font-size: 6em; /* Adjust the font size */
  margin-bottom: 10px; /* Adjust margin as needed */
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* nav a {
  display: block;
  color: #FFF;
} */

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .left ul,
nav .right ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

/* Additional styling for left and right divs */
nav .left{
  flex: 1;
  display: flex;
  justify-content: flex-start; /* For left div */
}
nav .right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* For right div */
}

/* HomePage.css */

.home-page {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:  5%; /* Add padding as needed */
}

.left-image {
  width: 50%; /* Adjust the width of the image */
  max-width: 100%; /* Set a maximum width for responsiveness */
  margin-right: 20px; /* Adjust margin as needed */
  border-radius: 8px;
}

.content {
 position: absolute;
 top: 26%;
 left: 50%;
 transform: translate(-50%, -50%);

}

.tagline{
  text-align: right;
  position: relative;
  right: 16%;
  top: -10px;
  font-size: 18px;
  font-weight: 500;
  
}

h1 span::before {
  content: ''; /* Empty content */
  position: absolute;
  display: block;
  width: 290px; /* Adjust the width of the circle */
  height: 290px; /* Adjust the height of the circle */
  border-radius: 50%; /* Create a circular shape */
  top: -10px; /* Adjust the vertical position */
  left: 68%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center precisely */
  z-index: -1; /* Place behind the text */

/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.featured-art-content {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; /* Add margin as needed */
}

.rotate-text {
  font-size: 40px;
  writing-mode: vertical-lr; /* Rotate text vertically from left to right */
  transform: translate(-50%, -50%) rotate(-180deg); /* Additional rotation for browser compatibility */
  position: absolute;
  top: 67%;
  left: 5%; /* Adjust the left position as needed */
  color: white; /* Adjust the color as needed */
}

.featured-art-content .mini-gallery{
  display:flex;
  align-items: center;
  justify-content: space-between; 
  margin: 20px 0;
}

.featured-art-content .mini-gallery button{
  background: none;
  border: nonen;
  font-size: 1.2em;
  cursor: pointer;
}

.featured-art-content .mini-gallery img{
  width: 300px;
  height: auto;
  border-radius: 8px;
}
