
/* @font-face {
  font-family: 'skratch_punkregular';
  src: url('/fonts/skratch_punk-webfont.woff2') format('woff2'),
       url('/fonts/skratch_punk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;/* Prevents horizontal scrollbars due to large gradients */
  background:
    linear-gradient(rgba(61, 66, 66, 0.189), transparent),
    linear-gradient(to top left, rgb(39, 39, 39), transparent),
    linear-gradient(to top right, rgb(155, 155, 155), transparent);
  background-blend-mode: screen;
  background-size: 100%;  
}



input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #F05941;
  font-weight: bold;
  font-style: italic;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav a {
  display: block;
  color: #FFF;
  text-decoration: none;
}

/* Additional styling for left and right divs */
nav .left{
  flex: 1;
  display: flex;
  justify-content: flex-start; /* For left div */
}
nav .right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* For right div */
}

button {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #F05941;
}

button:active {
  background-color: #F05941;

}
/* HomePage.css */
.home-page {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Add padding as needed */
}


.landingpage-title{
  font-size: 11em; /* Adjust the font size */
  margin-bottom: 30%; /* Adjust margin as needed */
}

.landingpage-image {
  width: 40%; /* Adjust the width of the image */
  max-width: 100%; /* Set a maximum width for responsiveness */
  border-radius: 8px;
  margin-top: 2%;
}

.content {
 position: absolute;
 top: 33%;
 left: 50%;
 transform: translate(-50%, -50%);

}

.tagline{
  text-align: right;
  position: relative;
  right: 13%;
  top: -300px;
  font-size: 40px;
  font-weight: 500;
  
}

h1 span::before {
  content: ''; /* Empty content */
  position: absolute;
  display: block;
  width: 590px; /* Adjust the width of the circle */
  height: 590px; /* Adjust the height of the circle */
  border-radius: 50%; /* Create a circular shape */
  top: -50px; /* Adjust the vertical position */
  left: 68%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center precisely */
  z-index: -1; /* Place behind the text */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.featured-art-content {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: center;
  justify-content: space-between;
  margin-top: 5%; /* Add margin as needed */
}

.featured-work-container{
  background-color: black;
  padding: 11% 0;
  border-radius: 90px;
  margin-left: 2%;
  margin-right: 2%;
}

.rotate-text {
  font-size: 3em;
  max-width: 100%;
  writing-mode: vertical-lr; /* Rotate text vertically from left to right */
  transform: rotate(-180deg); /* Additional rotation for browser compatibility */
  color: white; /* Adjust the color as needed */
}

.featured-art-content .mini-gallery{
  display: flex;
  max-width: 100%;
  flex-direction: column; /* Arrange items in a column */
  align-items: center;
  justify-content: center;
}


.featured-art-content .mini-gallery img{
  width: 430px;
  height: auto;
  border-radius: 8px;
  
}

.featured-art-icon-row{
  max-width: 100%;
  display: flex;
  justify-content: center;
  
  
}

.featured-art-icon-row .prev,
.featured-art-icon-row .next {
  padding: 5% 30%;
  font-size: 3em;
}



.detailed-bio {
  display: flex;
  flex-direction: column;
  border-left: 2px solid white;
  margin-left: 2%;
}

.rect-home-container{
  display:flex;
  max-width: 85%;
  margin-left: 5%;
}

.detailed-bio h2 {
  font-size:30px;
  text-align: left;
  margin-left: 5%;
}



.detailed-bio p {
  font-size:20px;
  text-align: left;
  padding-right: 10%;
  padding-bottom: 5%;
  margin-left: 5%;
}

.home-button-row{
  display:flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 80%;
}

.explore-gallery-button,
.home-shop-button,.home-about-button{
  padding: 2% 5%;
  font-size: 18px;
}

.explore-gallery-link,
.home-shop-link, .home-about-link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* About Page css*/
.about-header{
  max-width: 95%;
  margin: 0 auto;
}
.about-header h1{
  font-size: 3em;
  width: 80%;
  border-bottom: 2px solid white;
  margin-right: 5%;
  
}

.about-caption {
  margin-right: -20%;
  background-color: #ff2c21;
  border-radius: 60px;
}

.about-header p{
  font-size:.8em;
  color: white;
  margin-right:30% !important;
  padding: 2%;
  padding-left: 5%;

}


.about-row-1{
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: -5%;
}

.introduction {
  position: relative;
  max-width: 100%;
  display: flex;
  height: auto;
  overflow: hidden;
}

.introduction h2{
  font-size: 45px;
  max-width: 100%;
  position: absolute;
  top: 4%;
  writing-mode: vertical-lr; /* Rotate text vertically from left to right */
  transform: rotate(-180deg); /* Additional rotation for browser compatibility */
  margin: auto;
  color: white; /* Adjust the color as needed */
}


.introduction img {
  max-width: 100%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.introduction p {
  position: absolute;
  width: 70%;
  top: 43%;
  left: 46%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 5%;
  background: rgba(255, 255, 255, 0.019);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  transition: opacity 0.3s ease-in-out; 
}

.introduction:hover p {
  opacity: 1;
}

.philosophy-inspiration-container{
  max-width: 60%;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 11% !important;
  padding-left: 2%;
  border-left: 2px solid white;
  
}

.artistic-philosophy h2{
  font-size: 30px;
}
.rect-container{
  display: flex;
  max-width: 100%;
  margin-bottom: 5%;
}

.rect-1{
  background-color: white;
  width: 40%;
  height: 23px;
  margin-right: 1%;
}

.rect-2{
  border: 2px solid white;
  width: 60%;
  height: 20px;
  margin-right: -30%;
}


.row-of-circles-1{
  display: flex;
  max-width: 20%;
  justify-content:space-between;
  margin: 0 auto;
}

.bordered-circle-1-1, .bordered-circle-2-1, .bordered-circle-3-1{
  width: 30px; /* Set the width of the circle */
  height: 30px; /* Set the height of the circle */
  border-radius: 50%; /* Create a circle using border-radius */
  border: 2px solid #333; /* Set the border color and width */
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #333; /* Set text color */
  text-align: center;
}

.bordered-circle-1-1{
  background-color: black;
  border: none;
  width: 32px;
  height:32px;
}

.about-row-2{
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  padding-left: 2%;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.about-row-2 h2 {
  text-align: center;
  font-size: 30px;
}

.beyond-the-canvas-image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%; /* Adjust as needed */
  max-height: 100%;
 
}

.image-with-description {
  position: relative;
  max-width: 45%; /* Adjust as needed */
  margin-right: 2%;
}

.image-with-description img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-with-description p {
  position: absolute;
  width: 80%;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 5%;
  background: rgba(0, 0, 0, 0.019);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.image-text-2{
  color: black !important;
}

.image-with-description:hover p {
  opacity: 1;
}

.digital-tools{
  max-width: 100%;
  writing-mode: vertical-lr; /* Rotate text vertically from left to right */
  margin: auto 0;
  margin-left:-2%;
  color: white; /* Adjust the color as needed */
  background-color: black;
  padding: 10% 0;
  border-radius: 90px;
  margin-left: 2%;
  margin-right: 2%;
}

.digital-tools h2{
  font-size: 2em;
}

.row-of-circles-2{
  display: flex;
  max-width: 10%;
  justify-content:space-between;
  margin: 2% auto;
}

.bordered-circle-1-2, .bordered-circle-2-2, .bordered-circle-3-2{
  width: 30px; /* Set the width of the circle */
  height: 30px; /* Set the height of the circle */
  border-radius: 50%; /* Create a circle using border-radius */
  border: 2px solid #333; /* Set the border color and width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #333; /* Set text color */
  text-align: center;
}

.bordered-circle-2-2{
  background-color: black;
  border: none;
  width: 32px;
  height:32px;
}

/* Shop Page css*/
.product-list-container {
  width: 100%;
}
/*  Search & filter css*/
.filter-search-row{
  display: flex;
  margin-left: 2%;
  max-width: 100%;
  align-items: center;
}

.search-bar{
  margin-top: 1.5%;
  width: 55%;
  margin-right:5%;
}

.search-bar-input{
  width: 100%;
  padding: 2%;
  background: white;
  border-radius: 30px;
  border: none;
}

.filter-button {
  background-color: #22092C;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); 

}

.sort-button {
  margin-left: 20%;
  font-size: 18px;
  background-color: #22092C;
  color: #ffffff;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sort-options {
  max-width: 100%;
  margin-left: 20%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

select {
  border-radius: 8px;
  margin-left: 5px
} 

/* Gallery.css */
.gallery{
  display: flex;
}


.gallery-rect-column{
  display: flex;
  flex-direction: column;
  max-width: 10%;
  margin-left: 2%;
  margin-top: 3%;

}

.gallery-rect-1{
  background-color: white;
  height: 60%;
  width: 20px;
  margin-bottom: 30%;
}

.gallery-rect-2{
  border: 2px solid white;
  height: 40%;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  justify-content: space-evenly;/* Adjust as needed */
  margin-left: 2%;
  padding-top: 2%;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.gallery-title {
  display: flex;
  font-size: 45px;
  margin-right: 2%;
}

/* GalleryCard.css*/
.gallery-card {
  display: flex;
  max-width: calc(20% - 10px);
  max-height:auto;
  
  flex-direction: column;
  border: 1px solid #ddd; /* Add a border for separation */
  border-radius: 8px; /* Add some border radius for a softer look */
  overflow: hidden; /* Hide overflow for better image presentation */
  margin: 10px; /* Add margin for spacing between cards */
  text-align: center;
}

.gallery-image {
  width: 100%; /* Set the width of the image */
  height: 350px; /* Maintain the aspect ratio of the image */
  object-fit: cover;
  background-color: white;
}

.gallery-card a {
  text-decoration: none;
}

.gallery-info {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-name {
  font-size: 1.5rem; /* Set the font size for the product name */
  margin-bottom: 10px; /* Add margin between product name and description */
  text-decoration: none;
  color: #333; /* Set a color for the product name */
  text-align: center;
}

.gallery-date {
  color: #333; /* Set a color for the product name */
  font-size: 1.5rem;
}



.pagination {
  display: flex;
  justify-content: space-around;
  margin:2% 41%;
}

.pagination button.active {
  background-color: #BE3144; /* Choose your preferred color */
  color: white;
  border: none;
  text-decoration: none;
}

/* GalleryItemDetail.css*/
.gallery-details {
  display: flex;
  flex-direction: column;
  max-width: 90%;
   margin: 2% auto;
  padding: 1%; 
  border-radius: 30px;
  background-color: #fff;
}

.back-button {
  max-width: 25%;
  padding: 1.5% 1%;
  margin: 2% 5%;
  color: white;
  border-radius: 10px;
  background-color: #22092C;
  font-size: 14px;
}

.details-container {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  
}

.details-section {
  display: flex; 
  margin: 0 auto;
  margin-left: 5%;
}

.details-title{
  align-items: start;
  margin: auto;
  max-width: 25%;
  
}

.image-section {  
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.image-section img {
  max-width: 50%; /* Adjust the max-width to scale the image down */
  max-height: 10%; /* Adjust the max-height to scale the image down */
  object-fit: cover; /* Use contain to maintain aspect ratio */
  margin: 0 auto; 
}

.image-navigation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* Add these styles to your existing CSS */

.thumbnail-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}

.thumbnail {
  max-width: 50px; /* Adjust the max-width of each thumbnail */
  max-height: 50px; /* Adjust the max-height of each thumbnail */
  margin: 1% 2%;
  cursor: pointer;
  border: 2px solid #22092C; /* Border color for unselected thumbnails */
  border-radius: 5px;
  transition: border-color 0.3s;
}



.thumbnail.selected {
  border-color: #F05941; /* Border color for the selected thumbnail */
}

.thumbnail:hover {
  border-color: #F05941; /* Border color on hover */
}

.gallery-bio {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  margin-bottom: 2%;
}

.post-bookmarks {
  color:#22092C;
}

.post-bookmarks:hover{
  color:#F05941;
}


/* ProductCard.css */

.shop-title{
  font-size: 45px;
  margin: 2%;
}

.product-card {
  display: flex;
  max-width: calc(20% - 10px);
  max-height:auto;
  flex-direction: column;
  border: 1px solid #ddd; /* Add a border for separation */
  border-radius: 8px; /* Add some border radius for a softer look */
  overflow: hidden; /* Hide overflow for better image presentation */
  margin: 10px; /* Add margin for spacing between cards */
}

.product-image {
  width: 100%; /* Set the width of the image */
  max-height: auto; /* Maintain the aspect ratio of the image */
  object-fit: cover;
}

.product-card a {
  text-decoration: none;
}

.product-info {
  flex: 1;
  padding: 15px;
}

.product-name {
  font-size: 1.5rem; /* Set the font size for the product name */
  margin-bottom: 10px; /* Add margin between product name and description */
  text-decoration: none;
  color: #333; /* Set a color for the product name */
}

.product-date {
  color: #333; /* Set a color for the product name */
}

.product-description {
  font-size: 1rem; /* Set the font size for the description */
  color: #555; /* Set a subdued color for the description */
  margin-bottom: 10px; /* Add margin between description and price */
  text-decoration: none;

}

.product-price {
  font-size: 1.2rem; /* Set the font size for the price */
  font-weight: bold; /* Make the price bold for emphasis */
  color: #333; /* Set a darker color for the price */
  text-decoration: none;

}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;/* Adjust as needed */
  margin-left: 2%;
  border-left: 2px solid white;
  border-top: 2px solid white;
  padding-top: 2%;
}

/* ProductDetails.css */


/* Footer css*/
.footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin-top: 5%;
  background-color: #333; /* Change background color as needed */
  color: white; /* Change text color as needed */
}

.footer-row {
  display: flex;
  width: 95%;
}

.footer-row:first-child {
  padding-bottom: 10px;
  border-bottom: 2px solid white; /* Add a white line only below the first row */
}

.footer-row:nth-child(2) {
  padding-bottom: 0; /* Remove padding for the second row */
}

.logo-information {
  width: 15%; /* Adjust the width as needed */
}

.navigation-links {
  width: 60%; /* Adjust the width as needed */
  margin: 10px;
}

.navigation-links ul {
  list-style: none;
  margin: 3% 5%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%; /* Ensure the links take up the full width */
}

.back-to-top-button {
  width: 10%; /* Adjust the width as needed */
  padding-left: 10%;
}

.social-media-links {
  width: 100%; /* Take up full width */
  display: flex;
  justify-content: center; /* Adjust as needed */
}

.social-media-links a {
  margin: 0 10px; /* Adjust space between icons */
}

.copyright-information {
  width: 100%; /* Take up full width */
  text-align: center;
}


.footer div {
  margin: 10px; /* Adjust margin as needed */
}


.footer h3 {
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.footer p {
  margin: 5px 0; /* Adjust margin as needed */
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px; /* Adjust margin as needed */
}

.footer a {
  color: white; /* Change link color as needed */
  text-decoration: none;
}